button#explore {
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  margin-bottom: 10%;
}
button#explore:active {
  transform: scale(0.95);
}
@media screen and (min-width: 500px) {
  button#explore {
    height: 230px;
    width: 230px;
    margin-bottom: 12%;
  }
}
@media screen and (min-width: 900px) {
  button#explore {
    margin-bottom: 0;
    margin-top: 200px;
  }
}

button#explore::before {
  opacity: 0;
  content: "";
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 30px solid rgba(127, 124, 143, 0.3);
  transition: all 0.7s;
}

button#explore:hover::before {
  opacity: 1;
}

nav#home-menu {
  display: none;
  background-color: rgba(24, 31, 43, 0.664);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: absolute;
  width: 60%;
  height: 100%;
  right: 0;
  z-index: 2;
}
@media screen and (min-width: 500px) {
  nav#home-menu {
    width: 67%;
    height: 80px;
    display: flex;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    box-shadow: none;
    background-color: transparent;
  }
}
@media screen and (min-width: 900px) {
  nav#home-menu {
    width: 60%;
    background-color: rgba(24, 31, 43, 0.4);
    box-shadow: 0px 0 5px rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    right: 0;
    top: 30px;
  }
}
nav#home-menu #close {
  position: absolute;
  right: 24px;
  top: 33px;
}
@media screen and (min-width: 500px) {
  nav#home-menu #close {
    display: none;
  }
}
nav#home-menu ul {
  margin-top: 100px;
  margin-left: 20px;
  list-style: none;
  line-height: 60px;
}
@media screen and (min-width: 500px) {
  nav#home-menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #20232D;
  }
}
@media screen and (min-width: 900px) {
  nav#home-menu ul {
    background-color: transparent;
  }
}
nav#home-menu ul li a {
  text-decoration: none;
}
@media screen and (min-width: 500px) {
  nav#home-menu ul li a h5 {
    font-size: 16px;
    color: #FFFFFF;
  }
}
nav#home-menu ul li a .menu-nums {
  color: #FFFFFF;
  font-weight: bold;
}
@media screen and (min-width: 500px) {
  nav#home-menu ul li a .menu-nums {
    display: none;
  }
}
nav#home-menu ul li a:hover {
  text-decoration: underline;
}

body {
  background-image: url("../../assets/home/background-home-mobile.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
}
@media screen and (min-width: 500px) {
  body {
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }
}
@media screen and (min-width: 900px) {
  body {
    background-image: url("../../assets/home/background-home-desktop.png");
    background-color: #111213;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 7%;
    align-items: center;
  }
}
@media screen and (min-width: 1550px) {
  body {
    margin-right: 200px;
  }
}
body i {
  position: absolute;
  cursor: pointer;
}
body #logo {
  left: 24px;
  top: 24px;
  cursor: default;
}
@media screen and (min-width: 900px) {
  body #logo {
    left: 40px;
    top: 53px;
    transform: scale(1.2);
  }
}
body #hamburger {
  right: 24px;
  top: 33px;
}
body #hamburger:active {
  transform: scale(0.95);
}
@media screen and (min-width: 500px) {
  body #hamburger {
    display: none;
  }
}
body #menu-line {
  display: none;
}
@media screen and (min-width: 900px) {
  body #menu-line {
    display: block;
    background-color: #494B53;
    opacity: 0.8;
    width: 32.5%;
    height: 2px;
    position: absolute;
    top: 75px;
    left: 10%;
    z-index: 10;
  }
}
body section#home-call {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  margin-top: 120px;
}
@media screen and (min-width: 500px) {
  body section#home-call {
    height: 30%;
    margin-top: 200px;
  }
}
@media screen and (min-width: 900px) {
  body section#home-call {
    align-items: flex-start;
    width: 412px;
    height: 38%;
  }
}

@-webkit-keyframes menuJump {
  0% {
    transform: translateX(100%);
  }
  100% {
    transition: none;
  }
}

@keyframes menuJump {
  0% {
    transform: translateX(100%);
  }
  100% {
    transition: none;
  }
}/*# sourceMappingURL=home.css.map */