header{
    display: flex;
    height: 564px;
    #banner{
        img{
            opacity: 0;
            position: absolute;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
            transition: all 0.6s;
            z-index: 1;
        }
        .selected{
            opacity: 1;
        }
    }
    #menu{
        justify-self: flex-end;
        padding: 10px;
        z-index: 1;
        font-family: 'Source Sans Pro', sans-serif;
        color: white;
        display: flex;
        justify-content: space-around;
        width: 50%;
        height: max-content;
        li{
            list-style: none;
            transition: all 0.2s;
        }
        li:hover{
            text-decoration: overline;
            color: green;
            cursor: pointer;
        }
        li:active{
            transform: scale(0.98);
        }

    }
    #call{
        height: 100%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;

        h1{
            font-size: 4rem;
            font-family: 'Aboreto', cursive;
            text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.534);
            margin-bottom: 10px;
        }
        img#paper{
            width: 230px;
            filter: drop-shadow(0px 3px 12px rgba(0, 70, 0, 0.842));
        }
        #rpg{
            position: relative;
            left: 0;
            bottom: 62px;
            font-weight: bold;
            text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
            color: #275528c0;
            font-family: 'Signika Negative', sans-serif;
            font-size: 1.7rem;
        }
        p{
            width: 75%;
            font-size: 1.3rem;
            font-family: 'Source Sans Pro', sans-serif;
            text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.534);
        }
        #buttons{
            width: 60%;
            display: flex;
            justify-content: space-around;
            margin-top: 15px;
            
            button{
                font-family: 'Aboreto', cursive;
                color: white;
                border: none;
                font-size: 1.15rem;
                font-weight: 500;
                padding: 8px 20px;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.2s;

                &:active{
                    transform: scale(0.95);
                }
            }
            #play{
                background-color: #275528ef;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.125);
            }
            #trailer{
                background-color: transparent;
            }
        }
        
    }
}