@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Signika+Negative:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Signika+Negative:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');


@import 'header', 'rpg-table', 'map-info', 'footer';

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(201, 200, 193);
    background-image: url("../imagens/backgrounds/body-transparent-35.png");
    background-attachment: fixed;
    background-size: 100%;
    
}    

#content{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: black;
    max-width: 1000px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
}