#content {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  border: 1px solid white;
  border-color: transparent rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background-image: url("../../assets/destination/background-destination-mobile.jpg");
  background-size: cover;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space;
  overflow-x: hidden;
}
@media screen and (min-width: 500px) {
  #content {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
  }
}
@media screen and (min-width: 900px) {
  #content {
    background-image: url("../../assets/destination/background-destination-desktop.jpg");
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.sect2, .sect1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
@media screen and (min-width: 900px) {
  .sect2, .sect1 {
    margin: 0 auto;
    width: 50%;
    max-width: 450px;
    align-items: flex-start;
  }
}

.sect1 {
  margin-top: 108px;
}
@media screen and (min-width: 500px) {
  .sect1 {
    margin-top: 0;
  }
}
@media screen and (min-width: 900px) {
  .sect1 {
    width: 50%;
    margin-top: 70px;
    margin-bottom: 0px;
  }
}

h5.pick-destination {
  color: white;
}
h5.pick-destination span {
  margin-right: 10px;
}
@media screen and (min-width: 500px) {
  h5.pick-destination {
    margin-top: 135px;
    align-self: flex-start;
    margin-left: 30px;
  }
}
@media screen and (min-width: 900px) {
  h5.pick-destination {
    font-size: 25px;
    align-self: flex-start;
    margin-top: 0;
  }
}

img.dest-img {
  margin-top: 50px;
  width: 55%;
  -webkit-animation: planetsFloating 120s linear infinite;
          animation: planetsFloating 120s linear infinite;
}
@media screen and (min-width: 500px) {
  img.dest-img {
    width: 45%;
    margin-top: 80px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 900px) {
  img.dest-img {
    width: 80%;
    max-width: 450px;
    margin-bottom: 22%;
  }
}

ul#destination-list {
  margin-top: 50px;
  list-style: none;
  display: flex;
  width: 65%;
  justify-content: space-around;
  text-transform: uppercase;
}
@media screen and (min-width: 900px) {
  ul#destination-list {
    width: 90%;
    justify-content: space-between;
  }
}
ul#destination-list li a {
  text-decoration: none;
  letter-spacing: 2px;
  color: #D0D6F9;
}
ul#destination-list li a:hover {
  color: #FFFFFF;
}
@media screen and (min-width: 500px) {
  ul#destination-list li a {
    font-size: 25px;
  }
}
ul#destination-list .selected a {
  color: #FFFFFF;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}

p::after {
  content: "";
  position: absolute;
  margin-top: 70px;
  left: 8%;
  width: 84%;
  height: 1px;
  background-color: #4E5057;
  opacity: 1;
}
@media screen and (min-width: 900px) {
  p::after {
    width: 100%;
    left: 0;
  }
}

.dest-info {
  margin-top: 70px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.dest-info .info {
  text-align: center;
  line-height: 40px;
}
.dest-info h5 {
  font-size: 17px;
}
@media screen and (min-width: 500px) {
  .dest-info {
    flex-direction: row;
    gap: 110px;
  }
}

@-webkit-keyframes planetsFloating {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes planetsFloating {
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=destination.css.map */